svg {
  display: block;
}

.small-font {
  font-size: 0.5em;
}

button.btncolor {
  background-image: linear-gradient(120deg, rgba(21,84,153,0.8), rgba(21,153,84,0.8));
  color: white
}
button:disabled {
  background-color: gray;
  background-image: none;
  color: gray;
}

.axis path,
.axis line {
  fill: none;
  stroke: #6E6C71;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 12px;
  color: blue;
}

.rotate {
  transform: rotate(-45deg);
}

.center {
  text-align: center;
}

svg.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.map {
  width: 100%;
  height: 500px;
}

p.small {
  font-size: 0.8em;
}

.hidden {
  display: none;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none; 
}

rect:hover {
  fill: #1075ED;
}

.shadow {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
.img-switch-secondary {
  position: absolute; top: 0; left: 0;
}

.img-switch-container {
  position: relative;
}
.img-switch-container:not(:hover) .img-switch-primary {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.img-switch-container:hover .img-switch-primary {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.img-switch-container:not(:hover) .img-switch-secondary {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.img-switch-container:hover .img-switch-secondary {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}